.elem1_177 {
	position: absolute;
	top: 100px;
	left: 100px;

	width: 100px;
	height: 100px;
	border: 1px solid red;
}

.elem2_177 {
	position: absolute;
	top: 200px;
	left: 200px;

	width: 100px;
	height: 100px;
	border: 1px solid blue;
}

.elem3_177 {
	position: absolute;
	top: 300px;
	left: 300px;

	width: 100px;
	height: 100px;
	border: 1px solid green;
}

.elem4_177 {
	position: absolute;
	top: 100px;
	left: 600px;
	
	width: 100px;
	height: 100px;
	background: red;
}

.elem5_177 {
	position: absolute;
	top: 150px;
	left: 650px;
	
	width: 100px;
	height: 100px;
	background: blue;
}

.elem6_177 {
	position: absolute;
	top: 200px;
	left: 700px;
	
	width: 100px;
	height: 100px;
	background: green;
}

#elem1_178 {
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem2_178 {
	position: relative;
	top: -50px;
	left: 50px;

	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem3_178 {
	position: relative;
	top: -100px;
	left: 100px;

	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #4DEE99;
}