.parent162 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
	padding-right: 10px;
}

.parent164 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: center;
}

.child164 {
	display: inline-block;
	margin: 0px 5px;
	padding: 10px;
	border: 1px solid green;
}

.parent165 {
	padding: 10px 0;
	border: 1px solid red;
	text-align: right;
	padding-right: 10px;
}

.child165 {
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
	margin-right: 10px;
}

.parent165_2 {
	padding: 10px;
	border: 1px solid red;
	text-align: right;
}

.child165_2 {
	width: 100px;
	padding: 10px;
	border: 1px solid green;
	display: inline-block;
	text-align: center;
}

.parent166 {
	display: flex;
	width: 300px;
	height: 200px;
	border: 1px solid red;
}

.child166 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
}

.parent166_2 {
	display: flex;
	width: 700px;
	height: 300px;
	border: 1px solid red;
}

.child166_2 {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}

.parent167 {
	width: 700px;
	display: flex;
	border: 1px solid red;
}

.child167 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
}

.parent168 {
	display: flex;
	border: 1px solid red;
}

.child168 {
	height: 100px;
	width: 100px;
	border: 1px solid green;
}

.parent169 {
	display: inline-flex;
	border: 1px solid red;
}

.child169 {
	height: 100px;
	width: 100px;
	border: 1px solid green;
}

.parent170 {
	display: inline-flex;
	border: 1px solid red;
	padding: 20px;
}

.child170 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
}

.parent171 {
	display: inline-flex;
	border: 1px solid red;
}

.child171 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
	margin: 20px;
}

.parent173 {
	display: flex;
	border: 1px solid red;
	height: 120px;
	justify-content: center;
}

.child173 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
}